/* input */
input[type=text] {
    border: none;
    border-bottom: 2px solid darkred;
    background-color: transparent;
    margin-bottom: 2px;
    /* transition: all 1s ease-in-out; */
}
input:focus-visible {
    border: none;
    outline-width: 0;
    border-bottom: 2px solid darkred;
}

/* button */
button {
    margin-top: 10px;
    float: right;
    text-align: center;
    background-color: #b80000;
    padding: 8px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: white;
    transition-duration: 0.4s;
}
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}