<div class="one">
    <h1>Liste des matchs</h1>
</div>
<div class="center">
    <table>
        <tr>
            <th>Tour</th>
            <th>Match</th>
            <th>Joueur 1</th>
            <th>Joueur 2</th>
            <th>Vainqueur</th>
        </tr>
        <tr *ngFor ="let game of games">
            <td>{{ game.tower }}</td>
            <td>{{ game.number }}</td>
            <td class="tab-padding">{{ game.first_player_name }}</td>
            <td class="tab-padding">{{ game.second_player_name }}</td>
            <td class="tab-padding">
                <div class="flex">
                    <span>{{ game.first_player_name }}</span> 
                    <input type="radio" name="{{ game.number }}" value="game.first_player" 
                    (click)="updateGame(game, game.first_player)" [checked]="game.winner===game.first_player">
                </div>
                <div class="flex">
                    <span>{{ game.second_player_name }}</span>
                    <input type="radio" name="{{ game.number }}" value="game.second_player" 
                    (click)="updateGame(game, game.second_player)" [checked]="game.winner===game.second_player">
                </div>
            </td>
        </tr>
    </table>
</div>